# Quartus
db/
incremental_db/
greybox_tmp/
simulation/
*.smsg
*.qws
*.rpt
*.sof
*.pof
*.jic
*.sta.rpt
*.qip
*.bak
*.qdf
*.qdz
*.qar
*.sld

# Questa
work/
transcript
*.wlf
vsim.wlf
*.vcd
*.asdb
*.log

# Common
*.zip
*.7z
*.tar
*.tar.gz
*.bin
*.dat
*.hex
*.elf
*.o
*.obj
.DS_Store
Thumbs.db

# Others
spec/
video/
*.txt